<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Briscola</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <script type="module" src="/static/js/websocket.js" defer></script>
    <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
    <script type="module" src="/static/script.js" defer></script>
    <script type="module">
        import { socket } from '/static/js/websocket.js';
        const userId = localStorage.getItem('user_id');
        socket.emit("update_user_id", { user_id: userId});

        import { checkIfInGame } from '/static/script.js';
        checkIfInGame();

        // Event listener for the 'end_game_response' event from the server
        socket.on('end_game_response', function(data) {
            const messageElement = document.querySelector('.message');
            messageElement.textContent = data.message;
        });

        socket.emit('end_game');

    </script>
</head>
<body>
    <div class="container">
        <!-- Main content area for game over message and button -->
        <div class="game-over-card">
            <p class="message">{{ winner_message }}</p>
            <div class="game-over-header"></div>
            <button class="button" onclick="window.location.href='/'">Return Home</button>
        </div>
    </div>
</body>
</html>
