<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Briscola</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <script src="https://cdn.socket.io/4.7.2/socket.io.min.js" defer></script>
    <script type="module" src="/static/script.js" defer></script>
    <script type="module" src="/static/js/websocket.js"></script>
</head>
<body>
    <div class="container">
        <div class="intro-card">
            <h1 class="title">Welcome to Briscola!</h1>
            <br>

            <!-- Game Mode Selector -->
            <div class="game-mode-selector">
                <span class="mode-label left-label" aria-label="Computer">💻</span>
                <label class="toggle">
                    <input type="checkbox" id="game-mode-toggle">
                    <span class="slider"></span>
                </label>
                <span class="mode-label right-label" aria-label="Local">👥</span>
            </div>

            <!-- Difficulty Slider -->
            <div class="difficulty-slider-container">
                <label for="difficulty-slider" class="difficulty-label" title="Computer Difficulty">🔥</label>
                <input type="range" id="difficulty-slider" class="difficulty-slider" min="1" max="10000" value="10000">
            </div>

            <div class="room-section invisible">
                <button id="join-room-btn" class="button">Join Online Room</button>
                <button id="leave-room-btn" class="button" style="display: none;">Leave</button>
            </div>

            <button class="button" id="start-game-btn">Start Game</button>


        </div>


    </div>
    <script type="module">
            import { socket } from '/static/js/websocket.js';

            document.addEventListener('DOMContentLoaded', () => {

            const startGameButton = document.getElementById('start-game-btn');
            const gameModeToggle = document.getElementById('game-mode-toggle');
            const leftLabel = document.querySelector('.left-label');
            const rightLabel = document.querySelector('.right-label');
            const difficultySlider = document.getElementById('difficulty-slider');
            const difficultySliderContainer = document.querySelector('.difficulty-slider-container');
            const roomSection = document.querySelector('.room-section');
            const joinRoomBtn = document.getElementById('join-room-btn');
            const leaveRoomBtn = document.getElementById('leave-room-btn');


            function updateRoomBtns(userCount) {
                joinRoomBtn.textContent = `Join Online Room (${userCount}/2)`;
                leaveRoomBtn.textContent = `Leave Online Room (${userCount}/2)`;
                updateStartGameButtonText(userCount);
            }

            function manualUpdateRoomsBtns() {

                fetch('/api/get_room_users?room=public_room')
                    .then(response => response.json())
                    .then(data => {
                        if (data.error) {
                            console.error('Room not found:', data.error);
                        } else {
                            updateRoomBtns(data.users.length);
                        }
                    })
                    .catch(error => {
                        console.error('Fetch error:', error);
                    });
            }

            function updateLabels() {

                manualUpdateRoomsBtns();

                if (gameModeToggle.checked) {
                    leftLabel.style.opacity = '0.5';
                    rightLabel.style.opacity = '1';
                    difficultySliderContainer.classList.add('invisible');
                    roomSection.classList.remove('invisible');
                } else {
                    leftLabel.style.opacity = '1';
                    rightLabel.style.opacity = '0.5';
                    difficultySliderContainer.classList.remove('invisible');
                    roomSection.classList.add('invisible');
                }
            }


            // Ensure the toggle label clicks work to change the game mode
            leftLabel.addEventListener('click', () => {
                gameModeToggle.checked = false;
                updateLabels();
            });

            rightLabel.addEventListener('click', () => {
                gameModeToggle.checked = true;
                updateLabels();
            });

            gameModeToggle.addEventListener('change', updateLabels);
            updateLabels(); // Initial call to set the correct state on page load

                // Function to update the Start Game button text
            function updateStartGameButtonText(userCount) {
                if (gameModeToggle.checked && leaveRoomBtn.style.display !== "none" && userCount < 2) {
                    startGameButton.textContent = "Waiting for another player...";
                    startGameButton.disabled = true;
                } else {
                    startGameButton.textContent = "Start Game";
                    startGameButton.disabled = false;
                }
            }

            // Join room button click handler
            joinRoomBtn.addEventListener('click', async () => {
                try {
                    if (!socket.connected) {
                        console.log('Socket not connected yet, waiting...');
                        await new Promise((resolve) => socket.on('connect', resolve));
                    }
                    console.log('sending join game');
                    socket.emit('join_game', { room: 'public_room' });
                    joinRoomBtn.style.display = 'none'; // Hide the join room button
                    leaveRoomBtn.style.display = 'inline-block'; // Show the leave room button

                } catch (error) {
                    console.error('Error:', error);
                }
            });

            // Join room button click handler
            leaveRoomBtn.addEventListener('click', () => {
                socket.emit('leave_game', { room: 'public_room' });
                joinRoomBtn.style.display = 'inline-block';
                leaveRoomBtn.style.display = 'none';
            });

            // Listen for the game state response
            socket.on('game_state', (data) => {
                if (data.error) {
                    console.error('Error:', data.error);
                } else {
                    window.location.href = '/turn';
                }
            });

            startGameButton.addEventListener('click', async () => {
                const gameMode = gameModeToggle.checked ? 'player' : 'computer';
                const difficulty = difficultySlider.value; // Get the difficulty value

                console.log('start game clicked');

                try {
                    if (!socket.connected) {
                        console.log('Socket not connected yet, waiting...');
                        await new Promise((resolve) => socket.on('connect', resolve));
                    }
                    socket.emit('reset_state', {gameMode: gameMode, difficulty: difficulty});
                    console.log('reset state logged');

                } catch (error) {
                    console.error('Error:', error);
                }
            });

            socket.on('room_update', (data) => {
                const { users } = data;
                updateRoomBtns(users.length);
            });


        })
    </script>

</body>
</html>
