<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Briscola</title>
    <link rel="stylesheet" href="/static/styles.css"> <!-- Link to the external CSS file -->
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <script src="/static/js/websocket.js" defer></script>
</head>
<body>

   <!-- Opp Cards -->
    <div id="opp-cards" class="face-down-cards"></div>

    <!-- Active Pile Section -->
    <div id="active-pile" class="active-pile"></div>

    <!-- Briscola Card Display -->
    <div id="briscola-container">
        <div id="briscola-card" class="card">
            <div class="symbol"></div>
            <div class="number"></div>
        </div>
        <div id="briscola-title">Briscola</div>
    </div>

    <!-- Full deck of cards will be inserted here -->
    <div id="deck-container"></div>

   <!-- Player Cards -->
    <div id="player-cards" class="cards"></div>

    <!-- Turn Information -->
    <div id="turn-info"></div>

        <!-- Scoreboard -->
    <div id="scoreboard-container">
        <button id="scoreboard-toggle">Scoreboard</button>
        <div id="scoreboard">
            <div id="scores">
                <!-- Scores will be inserted here -->
            </div>
        </div>
    </div>

    <script src="/static/script.js"></script> <!-- Link to the external JavaScript file -->
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.5.1/dist/confetti.browser.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', updateGameState);

        document.addEventListener('DOMContentLoaded', () => {
            const socket = io();

            socket.emit("get_state");

            // Listen for the game state response
            socket.on('game_state', (data) => {
                if (data.error) {
                    console.error('Error:', data.error);
                } else {
                    console.log(data);
                    window.location.href = '/turn';
                }
            });

            const scoreboardToggle = document.getElementById('scoreboard-toggle');
            const scoreboard = document.getElementById('scoreboard');

            scoreboardToggle.addEventListener('click', () => {
                if (scoreboard.style.maxHeight) {
                    // Collapse the scoreboard
                    scoreboard.style.maxHeight = null;
                } else {
                    // Expand the scoreboard
                    scoreboard.style.maxHeight = scoreboard.scrollHeight + 'px';
                }
            });
        })


    </script>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>

</body>
</html>
